.Avatar-image {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.User-Info-Container{
    margin-top: 30px;
    display:flex;
    align-items: center
}

.User-info{
    margin-left: 10px;
}